@import './mixins/vicanso'
$leftContainerWidth = 60px
#leftContainer
  position fixed
  left 0
  top 0
  bottom 0
  width $leftContainerWidth
  background-color #333
  border-right 1px solid #222

#othersContainer
  height 100%
  margin-left $leftContainerWidth + 5

#objectTableContainer
  height 100%
  position relative
  .title
    height 30px
    line-height @height
    .paths
      margin-left 20px
      .path
        padding-right 10px
        margin-right 10px
        background url(../images/iarrow-left.png) no-repeat center right
        &.active
          background-image none
          color #2a2a2a
          cursor default
.objAttrDialog
  $border = 1px solid #c0c0c0
  .content
    height 200px
    overflow auto
  table
    border $border
    td, th
      border-top $border
      height 20px
      line-height @height
      padding 5px 10px
    .value
      height 24px
      line-height @height
      padding 2px 10px
      .inputContainer
        input
          border-radius 15px
          text-indent 10px
          width 100%
          height 22px
          line-height @height
    .param
      width 120px
    .op
      padding 5px 0
      width 40px
    .metaSelectContainer
      padding-left 0
      padding-right 0
      .metaSelect
        .jtSelect
          width 135px
        .userInput
          width 110px
