pre code {
  font-family: 'Monaco', 'Menlo', monospace;
  color: #f8f7f2;
  font-size: 13px;
  background-color: #1c1d1e;
  padding: 20px 20px 20px 0;
  display: block;
  overflow: auto;
}
pre code .lineNo {
  width: 30px;
  text-align: right;
  padding-right: 10px;
  color: #75715e;
  display: inline-block;
  *display: inline;
}
.keyword {
  color: #f92672;
}
.regexp {
  color: #fd971f;
}
.string {
  color: #e6db74;
}
.comment {
  color: #75715e;
}
