@import '../../common/stylesheets/mixins/vicanso'
@import './common'

#contentContainer
  width 1000px
  margin 50px auto
#loadingProgressTip
  display none


#contactUs
  position fixed
  _position absolute
  width 185px
  right -135px
  bottom 5px
  .content
    float right
    padding 10px 5px
    line-height 24px
    background-color #fff
  .btnPrimary
    width 15px