@import '../../common/stylesheets/mixins/vicanso'
@import './common'

#contentContainer
  width $CONTENT_WIDTH
  min-height 800px
  margin 60px auto
  .functions
    .function
      display none
      font-size 18px
      margin-right 30px
