@import '../../common/stylesheets/mixins/vicanso'
.pageBtnSet
  overflow hidden
  .pageBtn
    vicansoGradient #0054a6, #004385
    text-align center
    display block
    float left
    width 80px
    padding 5px 0
    margin-right 10px
    color #222
    border-radius 3px
    &.selected
      color #fff
      font-size 14px
    &:hover
      color #800000