.selectItemTable
  .tbodyContainer
    height 400px
  td
    cursor pointer
  .op
    width 40px
  .size
    width 80px
  .barcode
    width 120px
  .stock
    width 80px
  .check
    height 100%
    width 100%
    display block
  .ctrlBtns
    margin 10px 0
    text-align right
    .btn
      padding 8px 30px
      margin-right 10px