.waterfall
  overflow hidden
  .list
    width 25%
    float left
    .item
      margin-right 20px
      margin-bottom 20px
      background-color #fff
      border 1px solid #f0f0f0\9
      box-shadow 0 1px 3px rgba(34, 25, 25, 0.4)
      .imgContainer
        padding 10px
        img
          display block
          width 100%
      .info
        line-height 24px
        background-color #e0e0e0
        padding 0 10px
