- fileImporter.importCss(['/oss/stylesheets/ctrls.styl']);
- fileImporter.importJs(['/oss/javascripts/ctrls.coffee']);
.ctrlsContainer
  a.jtBtn.nextPage(href='javascript:;') 下一页
  a.jtBtn.prevPage(href='javascript:;') 上一页
  a.jtBtn.invertSelection(href='javascript:;') 反选
  a.jtBtn.remove(href='javascript:;') 删除
  a.jtBtn.attrGroup(href='javascript:;') 属性修改