extends ./layout
block bodyContainer
  include ./header
  - fileImporter.importCss(['/statics/ys/stylesheets/item.styl', '/statics/ys/stylesheets/order.styl', '/statics/ys/stylesheets/select.styl', '/statics/ys/stylesheets/sellpage.styl', '/statics/ys/stylesheets/print.styl']);
  - fileImporter.importJs(['/statics/ys/javascripts/item.coffee', '/statics/ys/javascripts/order.coffee', '/statics/ys/javascripts/select.coffee', '/statics/ys/javascripts/sellpage.coffee'])
  #contentContainer.notPrint
    #sellPageContainer
      .sellInfo
        .depot.item
        .client.item
        .payType.item
        .sellOrderNo.item 
          i.icon.iReload.borderRadius3.getOrderNo
          | 销售单编号：
          span.no .
        .print.item.btn 打印
        .saveToTemp.item.btn 存为草稿
        .save.item.btn.btnPrimary 保存
      .sellItemsContainer
      .selectItemsContainer