- fileImporter.importCss('/blog/stylesheets/about.styl');
.aboutContainer
  h3 About vicanso.com
  p 一直以来都写把自己平时遇到的问题，一些特别的想法，一些开发的技巧记录下来。也一直以来想弄个自己的blog。虽然比起使用现成的blog麻烦，但是能在编写整个blog的过程中学习到很多东西。以前，我只懂Web前端的东西，因此总是有心无力，现在用上了node之后，终于可以达成自己的想法了。
  p 我不是一个沉迷于技术的人，因此对于我来，学习技术的最快方法就是做一个东西，把自己想学的技术都用上去，这个blog后端使用的是node.js，数据库是mongodb，数据缓存使用redis，httpCache使用的是varnish，进程管理使用的是supervisor，前端还是一如以往的使用jQuery（因为现阶段基本输出静态页面就是了，交互比较少，以后有可能加上backbone，在这里我又想吐槽一下angularjs，真是有点难学啊）。以前学前端的时候，写得一些心得都不知道去哪里了，真是有点浪费啊，尽量以后慢慢的补全吧。
  p 因为喜欢javascript，所以我走上了前端之路，因为有了node，我开始了与后端打交道，我喜欢学习，但我不沉迷技术，我只能做个程序员，没办法成为一只大牛。还要感谢一个以前的公司kalengo，虽然最后不欢而散，但在那里让我知道了很多的新技术。又想起另外一个问题，在kalengo只是让我知道了那些技术，却是从来没人教的，都是靠自学，程序员真的只能靠自学吗？什么时候我也能有一个师傅。
  p.last 最后，欢迎大家和我交流技术。对于技术，我只是喜欢，但却不沉迷。vicansocanbico@gmail.com