- fileImporter.importCss('/blog/stylesheets/header.styl');
//- - fileImporter.importJs('/blog/javascripts/header.coffee');
header#header
  - var navData = viewData.header.navData;
  - var selectedIndex = viewData.header.selectedIndex;
  ul.navbar
    #weiboLogin
    each nav, i in navData
      - var navClass = 'navItem';
      if i === selectedIndex
          - navClass += ' active';
      li(class='#{navClass}')
        a(href="#{encodeURI(nav.url)}")
          if i == 0
            i.icon.home
          | #{nav.title}
a#goToTop.btn(href='javascript:;') 返回顶部
