@import './common'
@import '../../common/stylesheets/mixins/vicanso'
#contentContainer
  width CONTENT_WIDTH
  margin HEADER_HEIGHT + SPACING_VALUE auto auto

.articleContainer
  background-color white
  box-shadow 0 1px 3px rgba(34, 25, 25, 0.4)
  margin-bottom 15px
  .article .content pre code
    max-height 9999px