@import './common'
@import '../../common/stylesheets/mixins/vicanso'
slideBarWidth = 400px
#contentContainer
  width CONTENT_WIDTH
  margin HEADER_HEIGHT + SPACING_VALUE auto auto
  .questions
    margin-right slideBarWidth + 20
    .question
      margin-bottom 30px


#slideBar
  float right
  width slideBarWidth