.utlls
  margin-bottom 20px
  .title
    padding 10px 0px
    border-bottom 1px dashed #aaa
    margin-bottom 10px
    line-height 24px
    font-size 16px
    text-shadow 0 1px 0 #fff
  .category
    float left
    width 60px
    padding-top 40px;
    font-size 18px
    line-height 24px
   ul
     margin-left 70px
     .util
       margin 2px 5px
       display inline-block
       *display inline

