@import './common'
@import '../../common/stylesheets/mixins/vicanso'
i.home
  vicansoInlineBlock()
  width 16px
  height 16px
  line-height 16px
  vertical-align text-top
  background url(../images/home.png) no-repeat center
i.fullscreen
  vicansoInlineBlock()
  width 16px
  height 16px
  line-height 16px
  vertical-align text-top
  background url(../images/fullscreen.png) no-repeat center
i.like
  vicansoInlineBlock()
  width 16px
  height 16px
  line-height 16px
  vertical-align text-top
  background url(../images/like.png) no-repeat center


.btn
  vicansoBtn #0054a6, #fff
  display inline-block
  padding 6px 10px
  &:hover
    background-color #004c95